@import "common-imports/variables.scss";

.appNavBar {
  padding: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  img {
    width: 35px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: -25px;
  }
  h1 {
    display: inline-block;
    font-size: 2.0rem;
    margin: 0;
    .smallText {
      font-size: 1.0rem;
      margin-top: 2px;
      display: block;
    }
  }
}
