@import "common-imports/variables.scss";

.appFooter {
  padding: 15px;
  background: $black;
  color: $white;
  .haloIcon {
    width: 28px;
    float: left;
    margin-right: 10px;
  }
  .text {
    font-size: 1.2rem;
    width: calc(100% - 60px);
    float: left;
  }
}
