@import "common-imports/mixins.scss";

$appFont: 'Inconsolata', monospace;

$black: #000000;
$white: #ffffff;
$pink: #ef8795;
$red: #ec0000;

$baseFontSize: 1.5rem;
$h1Size: 4.0rem;
$h2Size: 3.5rem;
$h3Size: 3.0rem;
$h4Size: 2.5rem;
$baseFontSize: 1.6rem;
